<%- include('parts/meta') %>
  <%- include('parts/meta') %>
  <meta name="description" content="#1 Safeguard Discord Bot" />
  <title>Mytho</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicons.ico" />
  </head>

<body>
<%- include('parts/head') %>

<div id="main" class="main">
  <h1 class="main_title">Mytho ✨</h1>
  <p class="main_alt_title">#1 Safeguard Discord bot</p>
  <button onclick="window.location.href='/invite'" class="main_invite_button">Invite</button>
  <button onclick="window.location.href='/support'" class="main_support_button">Support Server</button>

  <img src="https://cdn.discordapp.com/attachments/1218679475479515156/1240275177183383643/El_texto_del_parrafo_3.png?ex=66474945&is=6645f7c5&hm=daa682daf94aab7461228edb0cb6ca75ff784b53ece38144d8eeef46d67b5a1b&" alt="Image description" class="main_image">
</div>

<!-- <center><div class="line_2"></div></center> -->
<div id="features">
<h1 class="f__title"><span style="border-bottom: #5865F2 2.5px solid;">Featur</span>es</h1>

<div class="row">
<img class="features__img" src="https://cdn.discordapp.com/attachments/1218679475479515156/1240273088310939739/qvn_20.png?ex=664898d3&is=66474753&hm=6c5d3d923fc0f66d2e28068795607e686fba3dcc3bcf74c3f313507827e180df&" width="155" height="155">
<h3 class="features__title">CLEAN VISION <br><span class="features__alt__title">We have make sure that the bot will have the cleanest view for people, so is easier to read fastly.</span></h3>
</div>

<br>

<div class="row_reverse">
<h3 class="features__title__reverse">Feature #2 <br><span class="features__alt__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span></h3>
<img class="features__img__reverse" src="https://cdn.discordapp.com/attachments/1218679475479515156/1240790046559305779/El_texto_del_parrafo_5.png?ex=66488007&is=66472e87&hm=d046f26e71ef5546441e8baf24a74afb72f1ff1027c554a045332393b498010f&" width="155" height="155">
</div>

<br>

<div class="row">
<img class="features__img" src="https://cdn.discordapp.com/attachments/1218679475479515156/1240792298573402173/El_texto_del_parrafo_7.png?ex=66488220&is=664730a0&hm=9e29de8625462aecca6edb59c66ef7eec8d952b4ba38ab4f0117fcd0481a30b6&" width="155" height="155">
<h3 class="features__title">FAST RESPONSE <br><span class="features__alt__title">Our bot is x4 faster than any Discord bot.</span></h3>
</div>
<br><br><br>
</div>

<div id="stats">
<h1 class="f__title"><span style="border-bottom: #5865F2 2.5px solid;">Bot Sta</span>ts</h1>

<center>
<div class="stats">
<br>
<h2 class="stats_counters"><%= gldc %><br><span style="color: #fff; font-size: 20px; font-weight: bold; letter-spacing: 0;">servers</span></h2>

<h2 class="stats_counters"><%= usrc %><br><span style="color: #fff; font-size: 20px; font-weight: bold; letter-spacing: 0;">users</span></h2>

<h2 class="stats_counters"><%= chnc %><br><span style="color: #fff; font-size: 20px; font-weight: bold; letter-spacing: 0;">channels</span></h2>
</div>
</center>
</div>

<div id="end">
<div id="ending" class="ending">
<h1 class="end_title">What are you waiting for?</h1>
<p class="end_alt_title">Before you invite our bot read our Privacy Policy and Terms of Services!</p>
<button onclick="window.location.href='/invite'" class="end_invite_button">Invite</button>
</div>
<br><br><br>
</div>

<div id="footer">
<%- include('parts/footer') %>
</div>
</body>
